# Configuración del Frontend

# URL base de la API del Backend
VITE_API_URL=http://localhost:3000/api

# ID de Cliente de Google Cloud Console para Google Login
VITE_GOOGLE_CLIENT_ID=tu-id-de-cliente-aqui.apps.googleusercontent.com

# Puerto por defecto para desarrollo (Vite)
PORT=5173